############################################## Parameters description  #####################################################
## extra.ge_ports setted only if device response in cableDiag, link isn't correct. GE ports must detect automaticaly      ##
## extra.diag_ports used in cableDiag for diag only cooper ports. Cooper ports not choose automaticaly in diagnostic.
## extra.diag_linkup if setted false, links with operstatus=UP will be ignored, if port are not setted
##
##
############################################################################################################################

models:
  - name: D-link DES-1228/ME
    ports: 28
    inputs:
      - snmp
      - telnet
    oids:
      - ./oids/dlink/des-1228me.yml
      - ./oids/dlink/common-diag-cable.yml
    detect: {description: ^D-Link DES-1228\/ME Metro Ethernet Switch$, hardware: .*, objid: 171\.10\.116\.2$ }
    extra:
      diag_linkup: false
      telnet_conn_type: dlink
    modules:
      fdb: \SwitcherCore\Modules\Snmp\Fdb\DefaultParser
      counters: \SwitcherCore\Modules\Snmp\Counters\DefaultParser
      system: \SwitcherCore\Modules\Snmp\System\DefaultParser
      cable_diag: \SwitcherCore\Modules\Snmp\CableDiag\DlinkParser
      errors: \SwitcherCore\Modules\Snmp\Errors\DefaultParser
      rmon: \SwitcherCore\Modules\Snmp\Rmon\DefaultParser
      pvid: \SwitcherCore\Modules\Snmp\Vlan\PvidParser
      link_info: \SwitcherCore\Modules\Snmp\Link\DlinkParser
      vlans: \SwitcherCore\Modules\Snmp\Vlan\DlinkVlanParser
      clear_counters: \SwitcherCore\Modules\Telnet\Dlink\ClearCounters
      save_config: \SwitcherCore\Modules\Telnet\Dlink\SaveConfig
      reboot: \SwitcherCore\Modules\Telnet\Dlink\Reboot
      vlans_by_port: \SwitcherCore\Modules\Snmp\Vlan\VlanByPorts
      ctrl_port_state: \SwitcherCore\Modules\Telnet\Dlink\StatePortControl
      ctrl_port_speed: \SwitcherCore\Modules\Telnet\Dlink\SpeedPortControl
      ctrl_port_descr: \SwitcherCore\Modules\Telnet\Dlink\DescriptionPortControl
      ctrl_vlan_state: \SwitcherCore\Modules\Telnet\Dlink\VlanStateControl
      ctrl_vlan_port: \SwitcherCore\Modules\Telnet\Dlink\VlanPortControl
