############################################## Parameters description  #####################################################
##
############################################################################################################################

models:
 - name: Mikrotik RouterOS
   ports: 0
   detect: {description: ^RouterOS.*,  objid: ^.1.3.6.1.4.1.14988.1$ }
   inputs:
     - snmp
     - routeros_api
   modules:
     system: \SwitcherCore\Modules\Snmp\System\DefaultParser
     arp_info: \SwitcherCore\Modules\RouterOS\ArpInfo
     arp_ping: \SwitcherCore\Modules\RouterOS\ArpPing
     interface_vlan_info: \SwitcherCore\Modules\RouterOS\InterfaceVlanInfo
     dhcp_server_info: \SwitcherCore\Modules\RouterOS\DhcpServerInfo
     lease_info: \SwitcherCore\Modules\RouterOS\LeaseInfo
     ctrl_static_arp: \SwitcherCore\Modules\RouterOS\StaticArpControl
     ctrl_static_lease: \SwitcherCore\Modules\RouterOS\StaticLeaseControl
     address_list_ctrl: \SwitcherCore\Modules\RouterOS\AddressListControl
     address_list_info: \SwitcherCore\Modules\RouterOS\AddressListInfo



