############################################## Parameters description  #####################################################
##
############################################################################################################################

models:
 - name: Raisecom ISCOM 2600
   key: raisecom_iscom_2600
   ports: 0
   device_type: SWITCH
   detect: {description: .*ISCOM2600.*,  objid: ^.1.3.6.1.4.1.8886.6 }
   inputs:
     - snmp
     - console
   extra:
     console_conn_type: raisecom
   oids:
     - ./oids/raisecom/iscom2600.yml
   modules:
     system: \SwitcherCore\Modules\Raisecom\System
     parse_interface: \SwitcherCore\Modules\Raisecom\ParseInterface
     interfaces_list: \SwitcherCore\Modules\Raisecom\InterfacesList
     fdb: \SwitcherCore\Modules\Raisecom\Fdb
     link_info: \SwitcherCore\Modules\Raisecom\LinkInfo
     interface_counters: \SwitcherCore\Modules\Raisecom\Counters
     vlans: \SwitcherCore\Modules\Raisecom\VlansDot1q
     vlans_by_port: \SwitcherCore\Modules\Raisecom\VlanByPorts
     errors: \SwitcherCore\Modules\Raisecom\Errors
     interface_descriptions: \SwitcherCore\Modules\Raisecom\Descriptions
#     sys_resources: \SwitcherCore\Modules\Raisecom\SysResources
     rmon: \SwitcherCore\Modules\Raisecom\Rmon
     pvid: \SwitcherCore\Modules\Raisecom\PvidDot1q
     ctrl_port_descr: \SwitcherCore\Modules\Raisecom\SetPortDescription
     ctrl_port_state: \SwitcherCore\Modules\Raisecom\StatePortControl
     lldp_info: \SwitcherCore\Modules\Raisecom\LldpInfo
     net_settings: \SwitcherCore\Modules\Raisecom\NetSettings
     console_command: \SwitcherCore\Modules\General\Switches\RawConsoleCommand
     multi_console_command: \SwitcherCore\Modules\General\Switches\MultiRawConsoleCommand
     clear_iface_counters: \SwitcherCore\Modules\Raisecom\ClearIfaceCounters
     supported_modules: \SwitcherCore\Modules\General\SupportedModules
     sys_temp: \SwitcherCore\Modules\General\SystemTemperatures
     snooping_info: \SwitcherCore\Modules\Raisecom\SnoopingInfo

 - name: Raisecom ISCOM
   key: raisecom_iscom
   ports: 0
   device_type: SWITCH
   detect: {description: ^.*,  objid: ^.1.3.6.1.4.1.8886.6 }
   inputs:
     - snmp
     - console
   extra:
     console_conn_type: raisecom
   oids:
     - ./oids/raisecom/iscom.yml
   modules:
     system: \SwitcherCore\Modules\Raisecom\System
     parse_interface: \SwitcherCore\Modules\Raisecom\ParseInterface
     interfaces_list: \SwitcherCore\Modules\Raisecom\InterfacesList
     fdb: \SwitcherCore\Modules\Raisecom\Fdb
     link_info: \SwitcherCore\Modules\Raisecom\LinkInfo
     interface_counters: \SwitcherCore\Modules\Raisecom\Counters
     vlans: \SwitcherCore\Modules\Raisecom\VlansDot1q
     vlans_by_port: \SwitcherCore\Modules\Raisecom\VlanByPorts
     errors: \SwitcherCore\Modules\Raisecom\Errors
     interface_descriptions: \SwitcherCore\Modules\Raisecom\Descriptions
#     sys_resources: \SwitcherCore\Modules\Raisecom\SysResources
     rmon: \SwitcherCore\Modules\Raisecom\Rmon
     pvid: \SwitcherCore\Modules\Raisecom\PvidDot1q
     ctrl_port_descr: \SwitcherCore\Modules\Raisecom\SetPortDescription
     ctrl_port_state: \SwitcherCore\Modules\Raisecom\StatePortControl
     lldp_info: \SwitcherCore\Modules\Raisecom\LldpInfo
     net_settings: \SwitcherCore\Modules\Raisecom\NetSettings
     console_command: \SwitcherCore\Modules\General\Switches\RawConsoleCommand
     multi_console_command: \SwitcherCore\Modules\General\Switches\MultiRawConsoleCommand
     sfp_media: \SwitcherCore\Modules\Raisecom\SfpMediaInfo
     sfp_optical: \SwitcherCore\Modules\Raisecom\SfpOpticalInfo
     sfp_diag: \SwitcherCore\Modules\General\SfpDiag
     clear_iface_counters: \SwitcherCore\Modules\Raisecom\ClearIfaceCounters
     supported_modules: \SwitcherCore\Modules\General\SupportedModules
     sys_temp: \SwitcherCore\Modules\General\SystemTemperatures
     snooping_info: \SwitcherCore\Modules\Raisecom\SnoopingInfo
  
 - name: Raisecom RAX721
   key: raisecom_rax721
   device_type: SWITCH
   detect: {description: ^.*,  objid: ^.1.3.6.1.4.1.8886.23 }
   inputs:
     - snmp
     - console
   extra:
     console_conn_type: raisecom
   oids:
     - ./oids/raisecom/rax721.yml
   modules:
     system: \SwitcherCore\Modules\Raisecom\System
     parse_interface: \SwitcherCore\Modules\Raisecom\ParseInterface
     interfaces_list: \SwitcherCore\Modules\Raisecom\InterfacesList
     fdb: \SwitcherCore\Modules\Raisecom\Fdb
     link_info: \SwitcherCore\Modules\Raisecom\LinkInfo
     interface_counters: \SwitcherCore\Modules\Raisecom\Counters
     vlans: \SwitcherCore\Modules\Raisecom\VlansDot1q
     vlans_by_port: \SwitcherCore\Modules\Raisecom\VlanByPorts
     errors: \SwitcherCore\Modules\Raisecom\Errors
     interface_descriptions: \SwitcherCore\Modules\Raisecom\Descriptions
#     sys_resources: \SwitcherCore\Modules\Raisecom\SysResources
     rmon: \SwitcherCore\Modules\Raisecom\Rmon
     pvid: \SwitcherCore\Modules\Raisecom\PvidDot1q
     ctrl_port_descr: \SwitcherCore\Modules\Raisecom\SetPortDescription
     ctrl_port_state: \SwitcherCore\Modules\Raisecom\StatePortControl
     lldp_info: \SwitcherCore\Modules\Raisecom\LldpInfo
#    net_settings: \SwitcherCore\Modules\Raisecom\NetSettings
     sfp_media: \SwitcherCore\Modules\Raisecom\SfpMediaInfo
     sfp_optical: \SwitcherCore\Modules\Raisecom\SfpOpticalInfo
     sfp_diag: \SwitcherCore\Modules\General\SfpDiag
     console_command: \SwitcherCore\Modules\General\Switches\RawConsoleCommand
     multi_console_command: \SwitcherCore\Modules\General\Switches\MultiRawConsoleCommand
     clear_iface_counters: \SwitcherCore\Modules\Raisecom\ClearIfaceCounters
     supported_modules: \SwitcherCore\Modules\General\SupportedModules
     #snooping_info: \SwitcherCore\Modules\Raisecom\SnoopingInfo

 - name: Raisecom Default
   key: raisecom_default
   device_type: SWITCH
   detect: {description: ^.*,  objid: ^.1.3.6.1.4.1.8886 }
   inputs:
     - snmp
     - console
   oids:
     - ./oids/raisecom/iscom.yml
   extra:
     console_conn_type: raisecom     
   modules:
     system: \SwitcherCore\Modules\Raisecom\System
     parse_interface: \SwitcherCore\Modules\Raisecom\ParseInterface
     interfaces_list: \SwitcherCore\Modules\Raisecom\InterfacesList
     fdb: \SwitcherCore\Modules\Raisecom\Fdb
     link_info: \SwitcherCore\Modules\Raisecom\LinkInfo
     interface_counters: \SwitcherCore\Modules\Raisecom\Counters
     vlans: \SwitcherCore\Modules\Raisecom\VlansDot1q
     vlans_by_port: \SwitcherCore\Modules\Raisecom\VlanByPorts
     errors: \SwitcherCore\Modules\Raisecom\Errors
     interface_descriptions: \SwitcherCore\Modules\Raisecom\Descriptions
#     sys_resources: \SwitcherCore\Modules\Raisecom\SysResources
     rmon: \SwitcherCore\Modules\Raisecom\Rmon
     pvid: \SwitcherCore\Modules\Raisecom\PvidDot1q
     ctrl_port_descr: \SwitcherCore\Modules\Raisecom\SetPortDescription
     ctrl_port_state: \SwitcherCore\Modules\Raisecom\StatePortControl
     lldp_info: \SwitcherCore\Modules\Raisecom\LldpInfo
#     net_settings: \SwitcherCore\Modules\Raisecom\NetSettings
     console_command: \SwitcherCore\Modules\General\Switches\RawConsoleCommand
     multi_console_command: \SwitcherCore\Modules\General\Switches\MultiRawConsoleCommand
     clear_iface_counters: \SwitcherCore\Modules\Raisecom\ClearIfaceCounters
     supported_modules: \SwitcherCore\Modules\General\SupportedModules
     sys_temp: \SwitcherCore\Modules\General\SystemTemperatures
     snooping_info: \SwitcherCore\Modules\Raisecom\SnoopingInfo