#MAIN BOARD
- {name: zx.main.temperature, oid: .1.3.6.1.4.1.3902.1015.2.1.3.2}
- {name: zx.main.VlanName, oid: .1.3.6.1.4.1.3902.1015.20.2.1.2}

#CARD BLOCK
- {name: zx.slot.ActType, oid: .1.3.6.1.4.1.3902.1015.2.1.1.3.1.4}
- {name: zx.slot.OperStatus, oid: .1.3.6.1.4.1.3902.1015.2.1.1.3.1.5, values: {1: inService, 2: notInService, 3: hwOnline, 4: hwOffline, 5: configuring, 6: configFailed, 7: typeMismatch, 8: deactived, 9: faulty, 10: invalid, 11: noPower}}
- {name: zx.slot.AdminStatus, oid: .1.3.6.1.4.1.3902.1015.2.1.1.3.1.6, values: {1: reset, 2: switch, 3: stopService, 4: active, 5: deactive }}
- {name: zx.slot.CpuLoad, oid: .1.3.6.1.4.1.3902.1015.2.1.1.3.1.9}
- {name: zx.slot.temperature, oid: .1.3.6.1.4.1.3902.1015.2.1.3.13.5.1.1}
- {name: zx.slot.MemUsage, oid: .1.3.6.1.4.1.3902.1015.2.1.1.3.1.11}
- {name: zx.slot.NumPorts, oid: .1.3.6.1.4.1.3902.1015.2.1.1.3.1.7.1.1}

#GENERAL OLT BLOCK
- {name: zx.olt.OpticalPowerTxCurrValue, oid: .1.3.6.1.4.1.3902.1015.3.1.13.1.4}
- {name: zx.olt.OpticalSupplyVoltage, oid: .1.3.6.1.4.1.3902.1015.3.1.13.1.10}
- {name: zx.olt.OpticalVenderName, oid: .1.3.6.1.4.1.3902.1015.3.1.13.1.14}
- {name: zx.olt.OpticalVenderPn, oid: .1.3.6.1.4.1.3902.1015.3.1.13.1.13}
- {name: zx.olt.OpticalModuleType, oid: .1.3.6.1.4.1.3902.1015.3.1.13.1.62}


#GENERAL ONU BLOCK
- {name: zx.onu.VlanIfConfMode , oid: .1.3.6.1.4.1.3902.1015.20.3.1.2, values: { 1: access, 2: trunk, 3: hybrid, 4: transparent }}
- {name: zx.onu.VlanIfConfUntaggedVlanList, oid: .1.3.6.1.4.1.3902.1015.20.3.1.7}
- {name: zx.onu.VlanIfConfTaggedVlanList, oid: .1.3.6.1.4.1.3902.1015.20.3.1.8}
- {name: zx.onu.DhcpSnoopEnable,oid: .1.3.6.1.4.1.3902.1015.32.21.20.1.6, values: {1: enable, 2: disable}}
- {name: zx.onu.DsPortBindViewIp,oid: .1.3.6.1.4.1.3902.1015.51.1.5.1.1.3}
- {name: zx.onu.DsPortBindViewType,oid: .1.3.6.1.4.1.3902.1015.51.1.5.1.1.4, values: {0: dinamic, 1: static}}
- {name: zx.onu.DsPortBindViewTime,oid: .1.3.6.1.4.1.3902.1015.51.1.5.1.1.5}

- {name: zx.onu.MacForwardingTable, oid: .1.3.6.1.4.1.3902.1015.6.1.3.1.5.1, values: {1: LEARNED, 2: notInService, 3: notReady, 4: createAndGo, 5: createAndWait, 6: destroy}}

#EPON PORT BLOCK
- {name: zx.env.powerVoltageSupplyStatus, oid: .1.3.6.1.4.1.3902.1015.2.1.3.9.2.1.1, values: { 1: normal, 2: overVoltage, 3: underVoltage, 4: off }}

#GPON ONT BLOCK
- {name: zx.ont.GponName, oid: .1.3.6.1.4.1.3902.1012.3.28.1.1.2}
- {name: zx.ont.EponName, oid: .1.3.6.1.4.1.3902.1015.1010.1.7.4.1.1}
- {name: zx.ont.GponDescription, oid: .1.3.6.1.4.1.3902.1012.3.28.1.1.3}
- {name: zx.ont.EponDescription, oid: .1.3.6.1.4.1.3902.1015.1010.1.7.4.1.1}
- {name: zx.ont.RtdDistance, oid: .1.3.6.1.4.1.3902.1012.3.11.4.1.2}
- {name: zx.ont.RtdEqd, oid: .1.3.6.1.4.1.3902.1012.3.11.4.1.1}
- {name: zx.ont.DevMgmtTypeName, oid: .1.3.6.1.4.1.3902.1012.3.28.1.1.1}
- {name: zx.ont.DevMgmtName, oid: .1.3.6.1.4.1.3902.1012.3.28.1.1.2}
- {name: zx.ont.OntVendor, oid: .1.3.6.1.4.1.3902.1012.3.50.11.2.1.1}
- {name: zx.ont.DevMgmtProvisionSn, oid: .1.3.6.1.4.1.3902.1012.3.28.1.1.5}
- {name: zx.ont.VportMode, oid: .1.3.6.1.4.1.3902.1012.3.28.1.1.10, values: { 1: gemport, 2: onu, 3: manual}}
- {name: zx.ont.AdminState, oid: .1.3.6.1.4.1.3902.1012.3.50.11.2.1.7, values: { 1: unlock, 2: lock}}
- {name: zx.ont.PhaseState, oid: .1.3.6.1.4.1.3902.1012.3.28.2.1.4, values: { 0: logging, 1: los, 2: syncMib, 3: working, 4: dyinggasp, 5: authFailed, 6: offline}}
- {name: zx.ont.LastOnlineTime, oid: .1.3.6.1.4.1.3902.1012.3.28.2.1.5}
- {name: zx.ont.LastOfflineTime, oid: .1.3.6.1.4.1.3902.1012.3.28.2.1.6}
- {name: zx.ont.LastOfflineReason, oid: .1.3.6.1.4.1.3902.1012.3.28.2.1.7, values: { 1: unknown, 2: los, 3: losi, 4: lofi, 5: sfi, 6: loai, 7: loami, 8: authFail, 9: dyingGasp, 10: deactiveSucc, 11: deactiveFail, 12: reboot, 13: shutdown }}

#GPON VPORT ONT BLOCK
- {name: zx.vport.IfSpeedState, oid: .1.3.6.1.4.1.3902.1012.3.50.14.1.1.3, values:  { 1: auto, 2: 10-Half, 3: 10-Full, 4: 100-Half, 5: 100-Full, 6: 1G-Full} }
- {name: zx.vport.IfSpeedStatus, oid: .1.3.6.1.4.1.3902.1012.3.50.14.1.1.7, values:  { 1: auto, 2: 10-Half, 3: 10-Full, 4: 100-Half, 5: 100-Full, 6: 1G-Full} }
- {name: zx.vport.AdminState, oid: .1.3.6.1.4.1.3902.1012.3.50.14.1.1.5, values: { 1: unlock, 2: lock} }
- {name: zx.vport.BridgeOrIpInd, oid: .1.3.6.1.4.1.3902.1012.3.50.14.1.1.11, values:  { 1: bridged, 2: ipRouter, 3: either}}
